cloud_stack/node-red/flows.json
[
  {
    "id": "tab_ingest",
    "type": "tab",
    "label": "broker_ingest",
    "disabled": false,
    "info": ""
  },
  {
    "id": "tab_ai",
    "type": "tab",
    "label": "ai_orchestrator",
    "disabled": false,
    "info": ""
  },
  {
    "id": "tab_dashboard",
    "type": "tab",
    "label": "dashboard_control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "tab_alerts",
    "type": "tab",
    "label": "alert_and_reminder",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Mind2Matter",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_device",
    "type": "ui_group",
    "name": "Device State",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_actions",
    "type": "ui_group",
    "name": "Cloud Actions",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_ai",
    "type": "ui_group",
    "name": "AI Activity",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "Mind2Matter Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red-mind2matter-cloud",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "tab_ingest",
    "name": "Device Status",
    "topic": "mind2matter/device/glasses01/status",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 80,
    "wires": [["json_status"]]
  },
  {
    "id": "json_status",
    "type": "json",
    "z": "tab_ingest",
    "name": "Parse Status",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 80,
    "wires": [["fn_status_summary"]]
  },
  {
    "id": "fn_status_summary",
    "type": "function",
    "z": "tab_ingest",
    "name": "Format Status Summary",
    "func": "const p = msg.payload || {};\nmsg.payload = [\n  `wifi=${p.wifi}`,\n  `mqtt=${p.mqtt}`,\n  `battery=${p.battery_pct ?? '?'}%`,\n  `voice_busy=${p.voice_busy}`,\n  `fall_pending=${p.fall_pending}`,\n  `debug_led=${p.debug_led}`,\n  `fw=${p.fw_version || '-'}`,\n  `uptime_s=${p.uptime_s ?? '-'}`\n].join(' | ');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 80,
    "wires": [["ui_text_status"]]
  },
  {
    "id": "ui_text_status",
    "type": "ui_text",
    "z": "tab_ingest",
    "group": "ui_group_device",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Status Summary",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 800,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt_in_button",
    "type": "mqtt in",
    "z": "tab_ingest",
    "name": "Debug Button",
    "topic": "mind2matter/device/glasses01/debug/button",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 140,
    "wires": [["json_button"]]
  },
  {
    "id": "json_button",
    "type": "json",
    "z": "tab_ingest",
    "name": "Parse Button",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 140,
    "wires": [["fn_button_summary"]]
  },
  {
    "id": "fn_button_summary",
    "type": "function",
    "z": "tab_ingest",
    "name": "Format Button Summary",
    "func": "const p = msg.payload || {};\nmsg.payload = `${new Date().toLocaleTimeString()} | pressed=${p.pressed} | fw=${p.fw_version || '-'}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 140,
    "wires": [["ui_text_button"]]
  },
  {
    "id": "ui_text_button",
    "type": "ui_text",
    "z": "tab_ingest",
    "group": "ui_group_device",
    "order": 2,
    "width": 12,
    "height": 1,
    "name": "Button State",
    "label": "Button",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 800,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_fall",
    "type": "mqtt in",
    "z": "tab_ingest",
    "name": "Fall Events",
    "topic": "mind2matter/device/glasses01/event/fall",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [["json_fall"]]
  },
  {
    "id": "json_fall",
    "type": "json",
    "z": "tab_ingest",
    "name": "Parse Fall",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 200,
    "wires": [["fn_fall_summary"]]
  },
  {
    "id": "fn_fall_summary",
    "type": "function",
    "z": "tab_ingest",
    "name": "Format Fall + Log",
    "func": "const p = msg.payload || {};\nconst summary = {\n  payload: `${p.phase || 'fall'} | confirmed=${p.confirmed} | az=${p.az_mg ?? '-'} | device=${p.device_id || '-'}`\n};\nconst log = {\n  payload: JSON.stringify({ ...p, received_at: new Date().toISOString() })\n};\nreturn [summary, log];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 200,
    "wires": [["ui_text_fall"], ["file_fall_log"]]
  },
  {
    "id": "ui_text_fall",
    "type": "ui_text",
    "z": "tab_ingest",
    "group": "ui_group_device",
    "order": 3,
    "width": 12,
    "height": 1,
    "name": "Last Fall Event",
    "label": "Fall",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 810,
    "y": 180,
    "wires": []
  },
  {
    "id": "file_fall_log",
    "type": "file",
    "z": "tab_alerts",
    "name": "Append Fall Log",
    "filename": "/data/runtime/fall-events.log",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 820,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "mqtt_in_ack",
    "type": "mqtt in",
    "z": "tab_ingest",
    "name": "Reminder Ack",
    "topic": "mind2matter/device/glasses01/reminder/ack",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 260,
    "wires": [["json_ack"]]
  },
  {
    "id": "json_ack",
    "type": "json",
    "z": "tab_ingest",
    "name": "Parse Ack",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 260,
    "wires": [["fn_ack_summary"]]
  },
  {
    "id": "fn_ack_summary",
    "type": "function",
    "z": "tab_ingest",
    "name": "Format Ack Summary",
    "func": "const p = msg.payload || {};\nmsg.payload = `${p.type || 'ack'} | result=${p.result || '-'} | uptime_ms=${p.uptime_ms ?? '-'}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 260,
    "wires": [["ui_text_ack"]]
  },
  {
    "id": "ui_text_ack",
    "type": "ui_text",
    "z": "tab_ingest",
    "group": "ui_group_device",
    "order": 4,
    "width": 12,
    "height": 1,
    "name": "Reminder Ack",
    "label": "Ack",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 800,
    "y": 260,
    "wires": []
  },
  {
    "id": "mqtt_in_voice_request",
    "type": "mqtt in",
    "z": "tab_ai",
    "name": "Voice Request",
    "topic": "mind2matter/device/glasses01/voice/request",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["json_voice_request"]]
  },
  {
    "id": "json_voice_request",
    "type": "json",
    "z": "tab_ai",
    "name": "Parse Voice Request",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 350,
    "y": 120,
    "wires": [["fn_prepare_ai_call"]]
  },
  {
    "id": "fn_prepare_ai_call",
    "type": "function",
    "z": "tab_ai",
    "name": "Summarize + Build HTTP Call",
    "func": "const p = msg.payload || {};\nconst summary = {\n  payload: `${p.request_id || '-'} | mode=${p.mode || '-'} | audio=${p.audio_url || '-'} | image=${p.image_url || 'none'}`\n};\nmsg.url = 'http://aiworker:8000/api/voice-request';\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = p;\nreturn [summary, msg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 120,
    "wires": [["ui_text_request"], ["http_ai_request"]]
  },
  {
    "id": "ui_text_request",
    "type": "ui_text",
    "z": "tab_ai",
    "group": "ui_group_ai",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Last Voice Request",
    "label": "Last Request",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 890,
    "y": 80,
    "wires": []
  },
  {
    "id": "http_ai_request",
    "type": "http request",
    "z": "tab_ai",
    "name": "POST AI Worker",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "authType": "",
    "senderr": false,
    "x": 890,
    "y": 140,
    "wires": [["switch_ai_status"]]
  },
  {
    "id": "switch_ai_status",
    "type": "switch",
    "z": "tab_ai",
    "name": "HTTP 200?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1110,
    "y": 140,
    "wires": [["fn_ai_success"], ["fn_ai_failure"]]
  },
  {
    "id": "fn_ai_success",
    "type": "function",
    "z": "tab_ai",
    "name": "Build MQTT Voice Reply",
    "func": "const p = msg.payload || {};\nconst reply = {\n  request_id: p.request_id,\n  text: p.text || 'No response generated.',\n  audio_url: p.audio_url || '',\n  format: p.format || 'wav',\n  sample_rate_hz: p.sample_rate_hz || 24000\n};\nconst mqttMsg = {\n  topic: 'mind2matter/cloud/glasses01/voice/reply',\n  payload: JSON.stringify(reply)\n};\nconst uiMsg = {\n  payload: `${reply.request_id || '-'} | ${reply.text}`\n};\nreturn [mqttMsg, uiMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1330,
    "y": 100,
    "wires": [["mqtt_out_cloud"], ["ui_text_reply"]]
  },
  {
    "id": "fn_ai_failure",
    "type": "function",
    "z": "tab_ai",
    "name": "Build MQTT Notice",
    "func": "let detail = '';\nif (msg.payload && typeof msg.payload === 'object' && msg.payload.detail) {\n  detail = msg.payload.detail;\n} else if (typeof msg.payload === 'string') {\n  detail = msg.payload;\n} else {\n  detail = JSON.stringify(msg.payload || {});\n}\nconst notice = {\n  type: 'ai_error',\n  statusCode: msg.statusCode || 500,\n  detail,\n  issued_at: new Date().toISOString()\n};\nconst mqttMsg = {\n  topic: 'mind2matter/cloud/glasses01/system/notice',\n  payload: JSON.stringify(notice)\n};\nconst uiMsg = {\n  payload: `AI worker error (${notice.statusCode}): ${detail}`\n};\nreturn [mqttMsg, uiMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 180,
    "wires": [["mqtt_out_cloud"], ["ui_text_notice"]]
  },
  {
    "id": "mqtt_out_cloud",
    "type": "mqtt out",
    "z": "tab_ai",
    "name": "Publish To Cloud Topic",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "mqtt_broker_cfg",
    "x": 1580,
    "y": 140,
    "wires": []
  },
  {
    "id": "ui_text_reply",
    "type": "ui_text",
    "z": "tab_ai",
    "group": "ui_group_ai",
    "order": 2,
    "width": 12,
    "height": 1,
    "name": "Latest Reply",
    "label": "Reply",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1580,
    "y": 90,
    "wires": []
  },
  {
    "id": "ui_text_notice",
    "type": "ui_text",
    "z": "tab_ai",
    "group": "ui_group_ai",
    "order": 3,
    "width": 12,
    "height": 1,
    "name": "Latest Notice",
    "label": "Notice",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1580,
    "y": 190,
    "wires": []
  },
  {
    "id": "ui_led_switch",
    "type": "ui_switch",
    "z": "tab_dashboard",
    "name": "Debug LED Switch",
    "label": "Debug LED",
    "tooltip": "",
    "group": "ui_group_actions",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "animate": true,
    "className": "",
    "x": 150,
    "y": 100,
    "wires": [["fn_led_publish"]]
  },
  {
    "id": "fn_led_publish",
    "type": "function",
    "z": "tab_dashboard",
    "name": "Build LED Command",
    "func": "msg.topic = 'mind2matter/cloud/glasses01/debug/led/set';\nmsg.payload = msg.payload ? 'true' : 'false';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 100,
    "wires": [["mqtt_out_actions"]]
  },
  {
    "id": "ui_reminder_text",
    "type": "ui_text_input",
    "z": "tab_dashboard",
    "name": "Reminder Text",
    "label": "Reminder",
    "tooltip": "",
    "group": "ui_group_actions",
    "order": 2,
    "width": 12,
    "height": 1,
    "passthru": false,
    "mode": "text",
    "delay": "0",
    "topic": "",
    "sendOnBlur": true,
    "className": "",
    "x": 150,
    "y": 160,
    "wires": [["fn_reminder_publish"]]
  },
  {
    "id": "fn_reminder_publish",
    "type": "function",
    "z": "tab_dashboard",
    "name": "Build Reminder Payload",
    "func": "const text = (msg.payload || '').toString().trim();\nif (!text) {\n  return null;\n}\nmsg.topic = 'mind2matter/cloud/glasses01/reminder/set';\nmsg.payload = JSON.stringify({\n  text,\n  source: 'dashboard',\n  issued_at: new Date().toISOString()\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 160,
    "wires": [["mqtt_out_actions"]]
  },
  {
    "id": "ui_sim_fall",
    "type": "ui_button",
    "z": "tab_dashboard",
    "name": "Simulate Fall",
    "group": "ui_group_actions",
    "order": 3,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "Simulate Fall",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "{\"simulate_fall\":true,\"source\":\"dashboard\"}",
    "payloadType": "str",
    "topic": "mind2matter/cloud/glasses01/system/notice",
    "topicType": "str",
    "x": 150,
    "y": 220,
    "wires": [["mqtt_out_actions"]]
  },
  {
    "id": "mqtt_out_actions",
    "type": "mqtt out",
    "z": "tab_dashboard",
    "name": "Publish Dashboard Action",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "mqtt_broker_cfg",
    "x": 700,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt_in_ota_status",
    "type": "mqtt in",
    "z": "tab_ingest",
    "name": "OTA Status",
    "topic": "mind2matter/device/glasses01/ota/status",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 320,
    "wires": [["json_ota_status"]]
  },
  {
    "id": "json_ota_status",
    "type": "json",
    "z": "tab_ingest",
    "name": "Parse OTA Status",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 320,
    "wires": [["fn_ota_status_summary"]]
  },
  {
    "id": "fn_ota_status_summary",
    "type": "function",
    "z": "tab_ingest",
    "name": "Format OTA Status",
    "func": "const p = msg.payload || {};\nmsg.payload = `${p.phase || '-'} | ${p.detail || '-'} | ${p.target_version || '-'} | ${p.url || '-'}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 320,
    "wires": [["ui_text_ota_status"]]
  },
  {
    "id": "ui_text_ota_status",
    "type": "ui_text",
    "z": "tab_ingest",
    "group": "ui_group_device",
    "order": 5,
    "width": 12,
    "height": 1,
    "name": "OTA Status",
    "label": "OTA",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 800,
    "y": 320,
    "wires": []
  },
  {
    "id": "ui_ota_resource",
    "type": "ui_text_input",
    "z": "tab_dashboard",
    "name": "OTA Resource",
    "label": "OTA Resource",
    "tooltip": "",
    "group": "ui_group_actions",
    "order": 4,
    "width": 12,
    "height": 1,
    "passthru": false,
    "mode": "text",
    "delay": "0",
    "topic": "",
    "sendOnBlur": true,
    "className": "",
    "x": 140,
    "y": 300,
    "wires": [["fn_store_ota_resource"]]
  },
  {
    "id": "fn_store_ota_resource",
    "type": "function",
    "z": "tab_dashboard",
    "name": "Store OTA Resource",
    "func": "const resource = (msg.payload || '').toString().trim() || 'firmware/fp_fw_2708.rps';\nflow.set('ota_resource', resource);\nmsg.payload = `Current OTA resource: ${resource}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "flow.set('ota_resource', 'firmware/fp_fw_2708.rps');",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 300,
    "wires": [["ui_text_ota_preview"]]
  },
  {
    "id": "ui_text_ota_preview",
    "type": "ui_text",
    "z": "tab_dashboard",
    "group": "ui_group_actions",
    "order": 5,
    "width": 12,
    "height": 1,
    "name": "OTA Preview",
    "label": "OTA Target",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 680,
    "y": 300,
    "wires": []
  },
  {
    "id": "ui_start_ota",
    "type": "ui_button",
    "z": "tab_dashboard",
    "name": "Start OTA",
    "group": "ui_group_actions",
    "order": 6,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "Start OTA",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "start",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 140,
    "y": 360,
    "wires": [["fn_publish_ota"]]
  },
  {
    "id": "fn_publish_ota",
    "type": "function",
    "z": "tab_dashboard",
    "name": "Build OTA Payload",
    "func": "const resource = flow.get('ota_resource') || 'firmware/fp_fw_2708.rps';\nconst filename = resource.split('/').pop() || 'fp_fw_2708';\nconst targetVersion = filename.replace(/\\.[^.]+$/, '');\nmsg.topic = 'mind2matter/cloud/glasses01/ota/update';\nmsg.payload = JSON.stringify({\n  resource,\n  target_version: targetVersion,\n  requested_by: 'dashboard',\n  issued_at: new Date().toISOString()\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 360,
    "wires": [["mqtt_out_actions"]]
  }
]
